@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

.dm-sans-preset-1-semiBold {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  font-size: 6rem;
  line-height: 100%;
  letter-spacing: -2px;
}

.bricolage-grotesque-preset-2-blod {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 3.25rem;
  font-variation-settings:
    "wdth" 100;
    line-height: 100%;
    letter-spacing: 0;
}

.dm-sans-preset-3-light {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: 0;
}

.dm-sans-preset-4-bold {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.75rem;
  line-height: 120%;
  letter-spacing: 0;
}

.dm-sans-preset-5-semiBold {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 120%;
  letter-spacing: 0;
}

.dm-sans-preset-5-medium {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 120%;
  letter-spacing: 0;
}

.dm-sans-preset-6-medium {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 120%;
  letter-spacing: 0;
}

.dm-sans-preset-7-medium {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  line-height: 120%;
  letter-spacing: 0;
}

.dm-sans-preset-8-medium {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 120%;
  letter-spacing: 0;
}