@mixin flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin flex-btw-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}