:root {
    --color-netural-900: #02012C;
    --color-netural-800: #262540;
    --color-netural-700: #302F4A;
    --color-netural-600: #3C3B5E;
    --color-netural-300: #ACACB7;
    --color-netural-200: #D4D3D9;
    --color-netural-0: #FFFFFF;
    --color-orange-500: #FF820A;
    --color-blue-500: #4658D9;
    --color-blue-700: #2B1B9C;

    --fast: 0.3s ease;
}