* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

@import 'mixins', 'variables', 'fonts';

#app {
    width: 100%;
    @include flex-col-center;
    background-color: var(--color-netural-900);
    padding: 16px;
}