:root {
    --color-grey-1: #3A3A3A;
    --color-grey-2: #B3B3B3;
    --color-orange-dark: #F5A623;
    --color-orange-light: #FFB703;
    --color-white-dark: #FFFFFF;
    --color-white-light: #F8F9FA;

    --fast: 0.3s ease;
    --very-fast: 0.2s ease;
}